<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main>
        <div class="container mt-4">
            <h1>Spread new viruses</h1>
            <form th:action="@{/viruses/add}" method="post" th:object="${bindingModel}">
                <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'text-danger'">
                    <label for="inputVirusName">Name</label>
                    <input type="text" th:field="*{name}" class="form-control" id="inputVirusName">
                    <small th:each="error : ${#fields.errors('name')}" th:text="${error}"></small>
                </div>
                <div class="form-group">
                    <label for="inputVirusDescription"> Description</label>
                    <textarea id="inputVirusDescription" class="form-control" rows="3"
                              th:fields="*{description}"></textarea>
                    <small th:each="error : ${#fields.errors('description')}" th:text="${error}"></small>
                </div>
                <div class="form-group">
                    <label for="inputVirusSideEffect">Side Effect</label>
                    <input type="text" class="form-control" id="inputVirusSideEffect" th:fields="*{sideEffects}">
                    <small th:each="error : ${#fields.errors('sideEffects')}" th:text="${error}"></small>

                </div>
                <div class="form-group">
                    <label for="inputVirusSideCreator">Side Effect</label>
                    <input type="text" class="form-control" id="inputVirusSideCreator" th:field="*{sideEffects}">
                    <small th:each="error : ${#fields.errors('sideEffects')}" th:text="${error}"></small>

                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="inputVirusIsDeadly"
                           th:field="*{deadly}">
                    <label class="form-check-label" for="inputVirusIsDeadly">Is Deadly?</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="inputVirusCurable"
                           th:field="*{curable}">
                    <label class="form-check-label" for="inputVirusCurable">Is Curable?</label>
                </div>

                <div class="form-check">
                    <label for="checkVirusMutation">Mutation</label>
                    <div th:each="mutation : ${T(org.softuni.residentevil.domain.entities.enums.Mutation).values()}">
                        <input class="form-check-input" type="radio" name="virusMutation" id="checkVirusMutation"
                               th:value="${mutation}" th:text="${mutation}" th:fields="*{mutation}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputVirusTurnOverRate" class="col-sm-2 col-form-label">Turnover rate</label>
                    <input type="number" class="form-control" id="inputVirusTurnOverRate" th:fields="*{turnoverRate}">
                </div>
                <div class=" form-group row">
                    <label for="inputVirusHours" class="col-sm-2 col-form-label">Hours Until Run</label>
                    <input type="number" class="form-control" id="inputVirusHours" th:fields="*{hoursUntilTurn}">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Magnitude</label>
                    <select class="form-control" id="exampleFormControlSelect1" th:fields="*{magnitude}">
                        <option th:each="magnitude : ${T(org.softuni.residentevil.domain.entities.enums.Magnitude).values()}"
                                th:value="${magnitude}" th:text="${magnitude}"></option>
                    </select>
                </div>

                <div class="form-group row">
                    <label for="inputVirusReleaseDate" class="col-sm-2 col-form-label">Release Date</label>
                    <input type="date" class="form-control" id="inputVirusReleaseDate" th:fields="*{releasedOn}">
                </div>


                <div class="form-group">
                    <label for="exampleFormControlSelect2">Affected Capitals</label>
                    <select class="form-control" id="exampleFormControlSelect2" th:fields="*{capitals}">
                        <option th:each="capital : ${capitalNames}" th:value="${capital.id}"
                                th:text="${capital.name}"></option>
                    </select>
                </div>
                <button class="button re-background">Spread</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>